{% extends 'base.html' %}
{% load static %}
{% load filters %}

{% block title %}
	Добавление товаров
{% endblock title %}

{% block link %}
	<link rel="stylesheet" href="{% static 'css/products_list.css' %}">
	<link rel="stylesheet" href="{% static 'css/orders_detail.css' %}">
{% endblock link %}

{% block body %}
	<div class="info">
		<div class="heading">
			{% if "create" in request.META.HTTP_REFERER %}
				<button onclick="window.location='{% url 'orders_list' %}'" class="back-without-absolute">🠐 Назад</button>
			{% else %}
				<button onclick="history.back()">←</button> 
			{% endif %}

			<h1 style="font-size: 40px;">Заказ #{{order.id}}</h1>

		</div>
		<p>Клиент: <a href="{% url 'clients_detail' order.phone_number %}"> +{{order.phone_number}} </a></p>
		<p>Адрес: {{order.address}}</p>
		<p>Дата заказа: {{order.created_at|date:"j.m.Y Время: H:i" }}</p>
		<p>Тип оплаты: {{order.get_type_of_payment_display}}</p>
		<p>Тип заказа: {{order.get_type_of_order_display}}</p>
		<p>Этап заказа: {{order.get_stage_display}}</p>

		<div style="margin-top: 20px;" class="heading">
			<button class="update" onclick="window.location='{% url 'orders_update' order.id %}'">Изменить</button>
			<button class="delete" onclick="window.location='{% url 'orders_delete' order.id %}'">Удалить</button>
		</div>

		<h2>Добавить продукт</h2>
		{% if error %}
			<div class="error">
				Невозможно добавить продукт в заказ, потому что на складе нет достаточного количество товара
			</div>
		{% endif %}
		<form method="post">
			{% csrf_token %}
			{{ order_item_add_form.as_p }}
			<button type="submit">Добавить</button>
		</form>
		<h2>Добавить комбо</h2>
		<form method="post">
			{% csrf_token %}
			{{ order_combo_add_form.as_p }}
			<button type="submit">Добавить</button>
		</form>
	</div>

	<div class="items">
		<table>
			<tr>
				<th>Изображение</th>
				<th>Имя</th>
				<th>Количество</th>
				<th>Стоимость</th>
				<th>Сумма</th>
				<th>Удалить?</th>
			</tr>
			{% for product in order_items %}
				{% if forloop.counter0|divisibleby:2 %}
					<tr onclick="window.location='{% url 'products_detail' product.id %}'" class="white">
						<td><img src="{{ product.product.image.url }}" alt=""></td>
						<td>{{product.product.name}}</td>
						<td>{{product.amount}} кг</td>
						<td>{{product.product.sell_price|floatformat:0}}₸</td>
						<td>{{product.get_cost}}₸</td>
						<td><a class="" href="{% url 'orders_item_delete' product.id %}">х</a></td>
					</tr>
				{% else %}
					<tr onclick="window.location='{% url 'products_detail' product.id %}'" class="gray">
						<td><img src="{{ product.product.image.url }}" alt=""></td>
						<td>{{product.product.name}}</td>
						<td>{{product.amount}} кг</td>
						<td>{{product.product.sell_price|floatformat:0}}₸</td>
						<td>{{product.get_cost}}₸</td>
						<td><a class="" href="{% url 'orders_item_delete' product.id %}">х</a></td>
					</tr>
				{% endif %}
			{% endfor %}

			{% if order_combos.count > 0 %}
				<tr>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
				</tr>
			{% endif %}

			{% for combo in order_combos %}
				{% if forloop.counter0|divisibleby:2 %}
				<tr class="white">
					<td>
						<img src="{{combo.combo.image.url}}" alt=""> <br>
					</td>
					<td>
						<b>{{combo.combo.name}}</b> <br>
						{% if combo.combo.name != "Самса в подарок 1 кг" and combo.combo.name != "Самса в подарок 0.5 кг" %}
							{% for product in combo.combo.products.all %}
								{{product.name}} <br>
							{% endfor %}
						{% endif %}
					</td>
					<td>
						{% if combo.combo.name != "Самса в подарок 1 кг" and combo.combo.name != "Самса в подарок 0.5 кг" %}
						<br>
						{% endif %}
						{% for product in products_in_combo|get_value_from_dict:combo.combo.name %}
							{% if forloop.counter0 == 2 %}
								<p>{{products_in_combo|get_value_from_dict:combo.combo.name|get_value_from_dict:product}} кг x{{combo.amount|floatformat:"0"}}</p>
							{% else %}
								<p>{{products_in_combo|get_value_from_dict:combo.combo.name|get_value_from_dict:product}} кг</p>
							{% endif %}
						{% endfor %}
					</td>
					<td>{{combo.combo.price}} ₸</td>
					<td><p>{{ combo.combo.price|multiply:combo.amount|floatformat:"2" }} ₸</p></td>
					<td><a class="" href="{% url 'orders_combo_delete' combo.combo.id order.id %}">х</a></td>
				</tr>
				{% else %}
				<tr class="gray">
					<td>
						<img src="{{combo.combo.image.url}}" alt=""> <br>
					</td>
					<td>
						<b>{{combo.combo.name}}</b> <br>
						{% if combo.combo.name != "Самса в подарок 1 кг" and combo.combo.name != "Самса в подарок 0.5 кг" %}
							{% for product in combo.combo.products.all %}
								{{product.name}} <br>
							{% endfor %}
						{% endif %}
					</td>
					<td>
						{% if combo.combo.name != "Самса в подарок 1 кг" and combo.combo.name != "Самса в подарок 0.5 кг" %}
						<br>
						{% endif %}
						{% for product in products_in_combo|get_value_from_dict:combo.combo.name %}
							{% if forloop.counter0 == 2 %}
								<p>{{products_in_combo|get_value_from_dict:combo.combo.name|get_value_from_dict:product}} кг x{{combo.amount|floatformat:"0"}}</p>
							{% else %}
								<p>{{products_in_combo|get_value_from_dict:combo.combo.name|get_value_from_dict:product}} кг</p>
							{% endif %}
						{% endfor %}
					</td>
					<td>{{combo.combo.price}} ₸</td>
					<td><p>{{ combo.combo.price|multiply:combo.amount|floatformat:"2" }} ₸</p></td>
					<td><a class="" href="{% url 'orders_combo_delete' combo.combo.id order.id %}">х</a></td>
				</tr>
				{% endif %}
			{% endfor %}

			<tr>
				<th></th>
				<th></th>
				<th></th>
				<th>Итоговая сумма:</th>
				<th>{{order.get_total_cost}} ₸</th>
				<th></th>
			</tr>
		</table>
		
	</div>
{% endblock body %}