{% extends 'base.html' %}
{% load static %}

{% block link %}
	<link rel="stylesheet" href="{% static 'css/base.css' %}">
	<link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock link %}

{% block title %}
	Создание заказа
{% endblock title %}

{% block body %}
	<button onclick="window.location='{% url 'clients_select' %}'" class="back">🠐 Назад</button>
	<div class="center">
		<form method="post">
			<h1>Создание заказа</h1>
			{% csrf_token %}
			{{ form.as_table }}
			<button type="submit">Создать</button>
		</form>
	</div>
{% endblock body %}