{% extends 'base.html' %}
{% load static %}

{% block link %}
	<link rel="stylesheet" href="{% static 'css/clients_create.css' %}">
{% endblock link %}

{% block title %}Изменение клиента #{{ client.id }}{% endblock title %}

{% block body %}
	<div class="heading">
		<button onclick="window.location='{% url 'clients_detail' client.id %}'">←</button>
		<h1>Изменение клиента #{{ client.id }}</h1>
	</div>
	<form method="post">
		{% csrf_token %}

		{{ form.as_p }}
		<button type="submit">Изменить</button>
	</form>
{% endblock body %}