{% extends 'base.html' %}
{% load static %}

{% block link %}
	<link rel="stylesheet" href="{% static 'css/products_update.css' %}">
	<link rel="stylesheet" href="{% static 'css/products_detail.css' %}">
{% endblock link %}

{% block title %}
	Изменение {{ combo.name }}
{% endblock title %}

{% block body %}
	<button onclick="history.back()" class="back">🠐 Назад</button>

	<div class="center">
		<div class="detail">
			<img src="{{ combo.image.url }}" alt="" class="detail-image">
			<div class="detail-text">
				<form method="post">
					{% csrf_token %}
			
					{{ form.as_p }}
					<button type="submit">Сохранить</button>
				</form>
			</div>
		</div>
	</div>

	
{% endblock body %}