{% extends 'base.html' %}
{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'css/base.css' %}">
<link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock link %}


{% block body %}
	<button onclick="window.location='{% url 'products_list' %}'" class="back">🠐 Назад</button>
	
	<div class="center">
		<form action="" method="post">
			<h1>Добавление продукта в склад</h1>
			{% csrf_token %}

			{{ form.as_table }}

			<button type="submit">Добавить</button>
		</form>
	</div>
{% endblock body %}