{% load static %}

{% block link %}
  {% comment %} <link rel="stylesheet" href="{% static 'css/clients_login.css' %}"> {% endcomment %}
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
	<link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock link %}

{% comment %} {% block title %}Log-in{% endblock title %} {% endcomment %}

{% block body %}
  <div class="center">
    <form method="post">
      <h1>Войти в систему</h1>
      {{ form.as_table }}
      {% csrf_token %}
      <button type="submit" value="Log in">Войти</button>
    </form>
  </div>
{% endblock body %}