{% extends 'base.html' %}
{% load static %}

{% block link %}
	<link rel="stylesheet" href="{% static 'css/clients_detail.css' %}">
{% endblock link %}

{% block title %}Клиент #{{ client.id }}{% endblock title %}

{% block body %}
	<div class="heading">
		<button onclick="window.location='{% url 'clients_list' %}'">←</button>
		
		<h1>Клиент #{{ client.id }}</h1>

		<button class="change" onclick="window.location='{% url 'clients_update' client.id %}'">Изменить</button>
		<button class="delete" onclick="window.location='{% url 'clients_delete' client.id %}'">Удалить</button>
	</div>

	<p><b>Имя: </b>{{ client.name }}</p>
	<p><b>Номер телефона: </b>{{ client.phone_number }}</p>
	<p><b>Последний адрес доставки: </b>{{ client.address }}</p>

	<br>

	{% comment %} TODO: добавить таблицу с заказами {% endcomment %}
	<h1>Заказы:</h1>
	<p>Список заказов клиентов будет добавлен в будущем...</p>
{% endblock body %}