{% extends 'base.html' %}
{% load static %}

{% block link %}
	<link rel="stylesheet" href="{% static 'css/clients_select.css' %}">
{% endblock link %}

{% block title %}
	Новый заказ
{% endblock title %}

{% block body %}
	<div class="center">
		<div class="search">
			<h1>Поиск клиента</h1>
			<form method="get">
				{{ form.as_table }}
				<button>Поиск</button>
			</form>

			{% if error == True %}
				<div class="error">Был введен неправильный номер</div>
			{% endif %}
			
			{% if clients.count == 0 %}
				<ul class="search-results">
					<li><a href="{% url 'clients_create' %}?phone_number={{phone_number}}&next=order">+ Создать нового клиента</a></li>
				</ul>	
			{% endif %}
		</div>
	</div>
{% endblock body %}