{% extends 'base.html' %}
{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'css/base.css' %}">
	<link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock link %}

{% block title %}Новый клиент{% endblock title %}

{% block body %}
	{% if request.GET %}
		<button onclick="history.back()" class="back">🠐 Назад</button>
	{% else %}
		<button onclick="window.location='{% url 'clients_list' %}'" class="back">🠐 Назад</button>
	{% endif %}
	<div class="center">
		<form method="post">
			<h1>Создание нового клиента</h1>
			{% csrf_token %}

			{{ form.as_table }}
			<button type="submit">Создать</button>
		</form>
	</div>
{% endblock body %}