{% extends 'base.html' %}
{% load static %}

{% block title %}
	Аналитика рабочих
{% endblock title %}

{% block link %}
	<link rel="stylesheet" href="{% static 'css/analytics.css' %}">
	<link rel="stylesheet" href="{% static 'css/table.css' %}">
{% endblock link %}

{% block body %}
	<div class="heading">
		<h1>Аналитика рабочих</h1>
		<select id="select" name="select">
			<option value="cw">На этой неделе</option>
			<option value="pw">На прошлой неделе</option>
			<option value="cm">В этом месяце</option>
			<option value="pm">В прошлом месяце</option>
		</select>
	</div>

	<table>
		<tr>
			<td onclick="window.location='{% url 'analytics_workers_create' %}'" class="create" colspan="3">
				+ Новый рабочий
			</td>
		</tr>
		<tr>
			<th>Имя</th>
			<th>Номер телефона</th>
			<th>Количество товара</th>
		</tr>
		{% for worker in workers %}
			{% if forloop.counter0|divisibleby:2 %}
				<tr onclick="window.location='{% url 'analytics_workers_detail' worker.phone_number %}'" class="white">
					<td>{{ worker.name }}</td>
					<td>+{{ worker.phone_number }}</td>
					<td>
						{% for work, products in supplies.items %}
							{% if work == worker.phone_number %}
								{% if not products %}
									<p>...</p>
								{% else %}
									{% for product, amount in products.items %}
										{{ product }}: {{ amount }} кг <br>
									{% endfor %}
								{% endif %}
							{% endif %}
						{% endfor %}
					</td>
				</tr>
			{% else %}
				<tr onclick="window.location='{% url 'analytics_workers_detail' worker.phone_number %}'" class="gray">
					<td>{{ worker.name }}</td>
					<td>+{{ worker.phone_number }}</td>
					<td>
						{% for work, products in supplies.items %}
							{% if work == worker.phone_number %}
								{% if not products %}
									<p>...</p>
								{% else %}
									{% for product, amount in products.items %}
										{{ product }}: {{ amount }} кг <br>
									{% endfor %}
								{% endif %}
							{% endif %}
						{% endfor %}
					</td>
				</tr>
			{% endif %}
		{% endfor %}
	</table>

{% endblock body %}	