{% extends 'base.html' %}
{% load static %}

{% block title %}
	Аналитика товаров
{% endblock title %}

{% block link %}
	<link rel="stylesheet" href="{% static 'css/analytics.css' %}">
{% endblock link %}

{% block body %}
	<div class="heading">
		<h1>Аналитика товаров</h1>
		<select id="select" name="select">
			<option value="cw">На этой неделе</option>
			<option value="pw">На прошлой неделе</option>
			<option value="cm">В этом месяце</option>
			<option value="pm">В прошлом месяце</option>
		</select>
	</div>

	<div class="chart">
		<canvas id="myChart"></canvas>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<script src="{% static 'js/analytics_products.js' %}"></script>
{% endblock body %}