{% extends 'base.html' %}
{% load static %}

{% block title %}
	Аналитика продаж
{% endblock title %}

{% block link %}
	<link rel="stylesheet" href="{% static 'css/analytics.css' %}">
{% endblock link %}

{% block body %}
	<div class="heading">
		<h2>Общая сумма продаж: <span id="total-sum"></span></h2>

		<select id="select" name="select">
			<option value="cw">На этой неделе</option>
			<option value="pw">На прошлой неделе</option>
			<option value="cm">В этом месяце</option>
			<option value="pm">В прошлом месяце</option>
		</select>
	</div>

	<div class="chart">
		<canvas id="myChart1"></canvas>
	</div>

	<div class="pie-list">
		<div class="pie-item">
			<canvas id="myChart2"></canvas>
		</div>

		<div class="pie-item">
			<canvas id="myChart3"></canvas>
		</div>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<script src="{% static 'js/analytics_selling.js' %}"></script>
{% endblock body %}