{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
	<title>{% block title %}{% endblock title %}</title>

	<link rel="stylesheet" href="{% static 'css/base.css' %}">

	{% block link %}{% endblock link %}

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap" rel="stylesheet">
</head>
<body>
	<header>
		<img class="header-img" src="../../static/img/balqaimaq-logo.png" alt="">

		<ul class="header-list">
			<li class="header-item"><a {% if section == "orders" %}class="selected"{% else %}class="not-selected"{% endif %} href="{% url 'orders_list' %}">Заказы</a></li>
			<li class="header-item"><a {% if section == "clients" %}class="selected"{% else %}class="not-selected"{% endif %} href="{% url 'clients_list' %}">Клиенты</a></li>
			<li class="header-item"><a {% if section == "storage" %}class="selected"{% else %}class="not-selected"{% endif %} href="{% url 'products_list' %}">Склад</a></li>

			<li class="header-item">
				<div class="dropdown">
					<a {% if section == "analytics" %}class="dropbtn selected"{% else %}class="dropbtn not-selected"{% endif %} href="#">
						Аналитика 🠇
					</a>
					<div class="dropdown-content">
						<a href="{% url 'analytics_selling' %}">Аналитика продаж</a>
						<a href="{% url 'analytics_products' %}">Аналитика товаров</a>
						<a href="{% url 'analytics_workers' %}">Аналитика рабочих</a>
					</div>
				</div>
			</li>

			<span class="header-user">
				<img class="header-user-img" src="../../static/img/user-logo.jpg"> 
				{% if request.user.is_authenticated %}
					{% comment %} <a href="{% url 'clients_detail' request.user.username %}">+{{ request.user.username }}</a> {% endcomment %}
				 	<a href="{% url "clients_logout" %}">Выйти</a>
				{% else %}
				 	<a href="{% url "clients_login" %}">Войти</a>
				{% endif %}
			</span>
		</ul>
	</header>

	<div class="main">
		{% block body %}
		{% endblock body %}
	</div>	
</body>
</html>